* {
    margin: 0;
    padding: 0;
    color: white;
  }

  .home {
    height: 100vh;
    position: relative;
    background-image: url('/background.png'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
 

.intro{
   
    font-size: 80px;
    margin-top: 1rem;
    
} 

.landingpage{
  margin-top: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}





